[Unit]
Description=virgoOS UPS monitor
After=multi-user.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/usr/share/virgo
ExecStart=/usr/sbin/ups.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
