#!/usr/bin/make -f

%:
	dh $@

override_dh_usrlocal:

override_dh_auto_install:
	install -v -D -m 0755 src/systemd/ups.shutdown $$(pwd)/debian/virgo-ups/lib/systemd/system-shutdown/ups.shutdown
	install -v -D -m 0644 src/systemd/virgo-ups.service $$(pwd)/debian/virgo-ups/lib/systemd/system/virgo-ups.service
	install -v -D -m 0755 src/bin/ups.sh $$(pwd)/debian/virgo-ups/usr/sbin/ups.sh
	
	install -v -d $$(pwd)/debian/virgo-ups/usr/share/virgo
	cp -r src/ups $$(pwd)/debian/virgo-ups/usr/share/virgo/

configure:

clean:
	dh_clean
